<div class="row">
  <div class="col col-md-12">
    <h4>Searching</h4>
  </div>
</div>
<br>
<div class="row">
  <div class="col col-md-8" style="margin: 0 auto;font-size: 14px;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">1</th>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
